<div class="edit_tvshow_container">
	<div class="wrapper_small_edit_tvshow">
		<h1>Editing Tvshow</h1>
		<%= render 'form' %>
		<%= link_to 'Show', @tvshow %> |
		<%= link_to 'Back', tvshows_path %>
	</div>
</div>
