
<head>
	<title> Trackstor </title>
</head>

<body>	
	<div id="Welcome_background">
		<header class="cf">	
			<div class="wrapper_big">
				<a href="#" id="logo"> Trackstor </a>
			</div>
		</header>
		<div class="wrapper_small">
			<h1> Discover new Movies and Tv Shows..</h1>
			<a href="#" class="button button_highlight"> Explore </a>
			<a href="#" class="button button_normal"> Create playlist </a>
		</div>
	</div>
</body>

