/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "movies";

body{
	background: white;
}

.wrapper_big {
	width: 90%;
	margin: 0 auto;
	
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_small {
	width: 60%;
	margin: 0 auto;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after{
	clear:both;
}

.thumbnail{
	border: none;
	outline: none;
	background-color:transparent;
}

.button {
	color: orange;
	text-decoration: none;
	font-size: 1.1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	border: none;
	outline: none;
	display: inline-block;
	min-width: 12rem;
}

.button_highlight {
	background: white;
	&:hover {
	background: darken(orange, 10%);
	}
}

.button_normal {
	background: white;
	&:hover {
	background: darken(orange, 10%);
	}
}

.banner{
	background-image: url(http://eaassets-a.akamaihd.net/www.battlefield.com/sites/default/files/China_Rising_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 4rem;
	margin-top: 0;
	height: 20vh;
	h1 {
		text-align: center;
		color: white;
		font-weight: 300px;
		margin: 0;
		padding: 8rem 0;
	}
}

.feature_movie{
	margin-top: 4rem;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.movie_overview{
	padding-bottom: none;
	text-align: center;
	h3{
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	color: black;
	}
	.director{
		color: lighten(black, 50%);
	}
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
	box-shadow: 5 1px 5 rgba(0,0,0,0.5);
}

.row{
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5);

}
.pagination:before, .pagination:after {
	 content: " ";
	 display:table;
}

.pagination:after {
	clear: both;
}

.pagination {
	margin: 2rem 0;
	text-align: center;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 0.25rem;
		border-radius: 0.15rem;
		line-height: 1.25;
		text-decoration: none;
		background: grey;
		font-weight: 700;
		font-size: 0.7rem;
	}
}

input[type="email"], input[type="password"], {
	width: 40%;
}

.login_container{
	background-image: image-url("welcome.jpg");
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;
}

.register_container{
	background-image: image-url("welcome.jpg");
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;
}



