// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#Welcome_background{
	background-image: url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcwxMAvUfuQqFvcKItJViXfvKbjVIQUdBE6pO4514x_ZXEeFe07upJMV4AZMBX9gK_QD4OKAHlBs8On_MVnpUw495ve0fd60AHdsd1nbZ.J447nEAv7cG2pgyGD.lwSOiBgZBaK8w8XREjeVjFw_fivNG2P9FSADB7sY1S6OR8utM-&format=jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
}

